openapi: 3.0.0
info:
  title: DICT API
  version: '1.RC1'
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Suporte TI BCB
    email: suporte.ti@bcb.gov.br
    url: https://www.bcb.gov.br/estabilidadefinanceira/pagamentosinstantaneos
  description: |- 
    O Diretório de Identificadores de Contas Transacionais - DICT - é o serviço do arranjo PIX que permite 
    buscar detalhes de contas transacionais  com chaves de endereçamento mais convenientes para quem faz 
    um pagamento. Entre os tipos de chave atualmente disponíveis estão CPF, CNPJ, telefone, e-mail e EVP.
    As informações retornadas pelo DICT permitem ao pagador confirmar a identidade do recebedor, proporcionando 
    uma experiência mais fácil e segura. Permitem também ao PSP do pagador criar a mensagem de instrução de 
    pagamento a ser enviada para o sistema de liquidação com os detalhes de conta do recebedor.
  
    # Segurança
    ## Autenticação 
    O DICT utiliza autenticação mútua TLS.

    As definições de autenticação para essa API estão especificados no 
    [manual de segurança PIX](https://www.bcb.gov.br/content/estabilidadefinanceira/forumpireunioes/Anexo%20IV%20-%20Manual%20de%20Seguranca%20PIX%20v2.0.pdf)
   
    ## Assinatura digital
    Requisições que incluam ou alterem informações no DICT devem ser assinadas com 
    [XML Digital Signature](https://www.w3.org/2000/09/xmldsig) pelo participante que envia a requisição.
    Requisições de consulta não precisam ser assinadas. Respostas retornadas pelo DICT serão assinadas digitalmente. 
    As assinaturas **devem** ser validadas pelos clientes da API.

    A assinatura será colocada no elemento `Signature` das requisições e respostas. 
    O `Signature` será [envelopado](https://www.w3.org/TR/xmldsig-core1/#def-SignatureEnveloped) pelo XML que está 
    sendo assinado (assinatura é um elemento filho).

    Para mais detalhes sobre a forma de construir a assinatura, consulte o
    [manual de segurança PIX](https://www.bcb.gov.br/content/estabilidadefinanceira/forumpireunioes/Anexo%20IV%20-%20Manual%20de%20Seguranca%20PIX%20v2.0.pdf).

    ## Limitação de requisições
    
    Para previnir ataques de enumeração, há mecanismo de limitação da quantidade de consultas que podem ser feitas 
    num espaço de tempo (_rate-limiting_). 
    A limitação atua em dois níveis, para usuários individuais e para um participante como um todo.

    Para cada um desses níveis, há limite para o número de consultas que não resultam em pagamento.

    Quando algum desses limites for atingido, o serviço retornará status `429`, especificando a causa.
    Cabeçalhos indicando os parâmetros de _rate-limiting_ serão retornados nas requisições. Ver, por exemplo,
    os cabeçalhos retornados ao [consultar vínculo](#operation/getEntry).

    # Evolução da API

    As seguintes mudanças são esperadas e consideradas retro-compatíveis (_backwards-compatibility_):

    - Adição de novos recursos na API.
    - Adição de novos parâmetros opcionais a requisições.
    - Adição de novos campos em respostas da API.
    - Alteração da ordem de campos.
    - Adição de novos elementos em enumerações

    Mudanças compatíveis não geram nova versão da API. 
    Clientes devem estar preparados para lidar com essas mudanças sem quebrar.

    Mudanças incompatíveis geram nova versão da API.

    # Tratamento de erros

    O DICT retorna códigos de status HTTP para indicar sucesso ou falhas das requisições. 
    Códigos 2xx indicam sucesso. Códigos 4xx indicam falhas causadas pelas informações 
    enviadas pelo cliente ou pelo estado atual das entidades. Códigos 5xx indicam problemas 
    no serviço no lado do DICT.

    As respostas de erro incluem no corpo detalhes do erro seguindo o schema da RFC 
    [Problem Details for HTTP APIs](https://tools.ietf.org/html/rfc7807).    
    O campo `type` identifica o tipo de erro e no DICT segue o padrão: 
    `https://dict.pi.rsfn.net.br/api/v1/error/<TipoErro>`

    Abaixo estão listados os tipos de erro do DICT.


    **Gerais**

    - `Forbidden`
      - Requisição de participante autenticado que viola alguma regra de autorização. 
        Ver [rfc7231](https://tools.ietf.org/html/rfc7231#section-6.5.3).

    - `BadRequest`
      -  Requisição com formato inválido.
        Ver [rfc7231](https://tools.ietf.org/html/rfc7231#section-6.5.1)

    - `NotFound`
      - Entidade não encontrada. 
        Ver [rfc7231](https://tools.ietf.org/html/rfc7231#section-6.5.4)

    - `RateLimited`
      - Limite de requisições foi atingido. 
        Ver seção sobre [limitação de requisições](#section/Seguranca/Limitacao-de-requisicoes)

    - `ServiceUnavailable`
      - Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora
        da janela de funcionamento.

    - `RequestSignatureInvalid`
      - Assinatura digital da requisição enviada é inválida.

    - `RequestOnBehalfUnauthorized`
      - Participante direto envia requisição em nome de participante indireto para o qual não tem autorização.


    **Vínculos**
    
    - `EntryInvalid`
      - Existem campos inválidos ao tentar criar novo vínculo.

    - `EntryLimitExceededForOwner`
      - Dono atingiu limite máximo de vínculos que ele pode ter.

    - `EntryAlreadyExists`
      - Já existe vínculo para essa chave com o mesmo participante e dono.

    - `EntryCannotBeQueriedForBookTransfer`
      - Vínculo consultado está custodiado no mesmo PSP do usuário pagador para quem está sendo feita a consulta.
        Quando o pagador e o recebedor estão no mesmo PSP, não deve ser feita consulta ao DICT.

    - `EntryKeyOwnedByDifferentPerson`
      - Já existe vínculo para essa chave mas ela é possuída por outra pessoa.
        Indica-se que seja feita uma reivindicação de posse.

    - `EntryKeyInCustodyOfDifferentParticipant`
      - Já existe vínculo para essa chave com o mesmo dono, mas ela encontra-se associada
        a outro participante. Indica-se que seja feita uma reivindicação de portabilidade.
    
    - `EntryLockedByClaim`
      - Existe uma reivindicação com status diferente de concluída ou cancelada para a chave 
        do vínculo. Enquanto estiver nessa situação, o vínculo não pode ser excluído.

    **Reivindicações**

    - `ClaimInvalid`
      - Existem campos inválidos ao tentar criar nova reivindicação.

    - `ClaimTypeInconsistent`
      - Tipo de reivindicação pedida é inconsistente. Esse erro ocorre nas situações em que 
      se tenta criar a) reivindicação de _posse_, mas vínculo existente tem como dona a mesma 
      pessoa que reivindica ou b) reinvidicação de _portabilidade_, mas vínculo existente tem 
      como dona pessoa diferente da que reivindica.

    - `ClaimKeyNotFound`
      - Não existe vínculo registrado com a chave que está sendo reivindicada.

    - `ClaimAlreadyExistsForKey`
      - Existe uma reivindicação com status diferente de concluída ou cancelada para a chave reivindicada.
        Nova reivindicação para a chave só pode ser criada se a atual foi concluída ou cancelada.

    - `ClaimResultingEntryAlreadyExists`
      - Vínculo que resultaria ao processar reivindicação já existe, com mesma chave, participante e dono.

    - `ClaimOperationInvalid`
      - Status atual da reivindicação não permite que operação seja feita.

    - `ClaimResolutionPeriodNotEnded`
      - Para reivindicação de posse, PSP doador não pode __confirmar__ antes do término do período resolução.
        Para portabilidade, PSP doador não pode __cancelar__ por fim de prazo antes do término do período resolução.

    - `ClaimCompletionPeriodNotEnded`
      - Para reivindicação de posse, se PSP reivindicador tenta encerrar antes do término do período encerramento.

servers:
  - url: https://dict.pi.rsfn.net.br/api/v1/
    description: Servidor de Produção
  - url: https://dict-h.pi.rsfn.net.br/api/v1/
    description: Servidor de Homologação
tags:
  - name: Directory
    x-displayName: Diretório
    description: |- 
      O diretório de identificadores de contas transacionais é um conjunto de vínculos.
      Um vínculo é uma associação entre uma chave de endereçamento, uma conta transacional e seu dono.
      O dono pode ser uma pessoa física ou uma pessoa jurídica. A chave de endereçamento é usada identificar um vínculo.
      
      Os tipos de chave suportadas atualmente são as seguintes:
      
      |  Tipo         | Exp. regular                                                                                               | Exemplo                              | Comentário                                                                |
      |---------------|------------------------------------------------------------------------------------------------------------|--------------------------------------|---------------------------------------------------------------------------|
      | CPF           |  ^\[0-9\]{11}$                                                                                             | 12345678901                          |                                                                           |
      | CNPJ          |  ^\[0-9\]{14}$                                                                                             | 12345678901234                       |                                                                           |
      | PHONE         |  ^\\+\[1-9\]\[0-9\]\d{1,14}$                                                                               | +5510998765432                       |                                                                           |
      | EMAIL         |  [e-mails válidos W3C HTML5](https://html.spec.whatwg.org/multipage/input.html#valid-e-mail-address)       | pix@bcb.gov.br                       | E-mail deve possuir no máximo 77 caracteres e deve ser em minúsculo       | 
      | EVP           |  [0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}                                              | 123e4567-e89b-12d3-a456-426655440000 | Endereço Virtual de Pagamento é um tipo de chave é gerado pelo DICT       |


      Novos tipos de chave poderão vir a ser adicionados no futuro. Logo, é importante que a implementação de clientes
      seja flexível, permitindo a adição de novos tipos de chave.

  - name: Claim
    x-displayName: Reivindicação
    description: |- 
      Conforme as chaves mudem de dono ou os usuários finais criem contas transacionais em outros PSPs, 
      os seguintes cenários precisarão ser tratados:
      
      1. Houve troca de posse de uma chave (telefone ou email) e o novo dono deseja 
      criar um vínculo para uma conta sua mas o dono anterior já possui vínculo registrado 
      no DICT com essa chave.
      2. Um usuário deseja mudar a vinculação de uma chave sua para outra conta, que 
      está domiciliada em um participante diferente do atual.

      Para o cenário 1, deve ser criada uma _reivindicação de posse_. Já para o cenário 2,
      uma _portabilidade_. Em ambos cenários existirá a figura do PSP que irá ceder a chave (PSP Doador),
      e o PSP que irá receber a chave (PSP Reivindicador). No cenário de _reivindicação de posse_, o PSP 
      doador e o reivindicador podem ser o mesmo.

      Nessa especificação, _reivindicação_ sem qualificador é usado como termo mais genérico para se referir 
      tanto à reivindicação de posse quanto à (reivindicação de) portabilidade.

      Os processos de reivindicação são sempre iniciados pelo PSP reivindicador.
      Uma reivindicação tem as seguintes situações:
        - `OPEN` - Aberta pelo reivindicador, mas ainda não recebida pelo doador.
        - `WAITING_RESOLUTION` - Já foi recebida pelo doador e está aguardando a resolução. Os critérios confirmação
        ou cancelamento da reivindicação seguem normas específicas a depender do tipo (posse ou portabilidade).
        - `CONFIRMED` - O doador confirmou a reivindicação. Isso implica a remoção da chave do DICT e da base interna 
        do PSP doador. Está aguardando o reivindicador encerrar o processo.
        - `CANCELLED` - O doador ou reivindicador cancelou a reivindicação, mantendo o vínculo inalterado (conforme estava antes da 
        reivindicação) tanto no DICT quanto na base interna do PSP.
        - `COMPLETED` - Tanto o DICT quanto o reivindicador atualizaram suas bases com o novo vínculo.

      **Diagrama de estados**

      ```
      ( OPEN )------->( WAITING_RESOLUTION )------->( CONFIRMED )------->( COMPLETED )
                                |                        /                            
                                |                       /                             
                                |                      /                              
                                |                     /--Apenas para                  
                                v                    /   reivindicação                
                          ( CANCELLED )<------------v    de posse                      
      ```

      **Importante!** 
      Os participantes deverão monitorar as reivindicações fazendo _polling_ períodico no _endpoint_
      de [listar reivindicações](#operation/listClaims). A periodicidade adequada dependerá 
      das definições de nível de serviço.

paths:
  '/entries/':
    post:
      summary: Criar Vínculo
      description: |- 
          Cria um novo vínculo de chave com conta.        
      operationId: createEntry
      tags:
        - Directory
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateEntryRequest'
            examples:
                phone:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <CreateEntryRequest>
                      <Signature></Signature>
                      <Entry>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <Account>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </Account>
                        <Owner>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Owner>
                      </Entry>
                      <Reason>USER_REQUESTED</Reason>
                    </CreateEntryRequest>
      responses:
        '201':
          description: Created
          content:
            application/xml:           
              schema:
                $ref: '#/components/schemas/CreateEntryResponse'                                
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <CreateEntryResponse>
                      <Signature></Signature>
                      <Entry>
                        <Key>11122233300</Key>
                        <KeyType>CPF</KeyType>
                        <Account>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </Account>
                        <Owner>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Owner>
                        <CreationDate>2019-11-18</CreationDate>
                        <KeyOwnershipDate>2019-11-18</KeyOwnershipDate>
                      </Entry>
                      <CreatedEntryCid>9876fd47d485f99f3ef93cfd8e2acd2badfb670b156c1ad6c52ef1586626d20f</CreatedEntryCid>
                    </CreateEntryResponse>
        '400':
          $ref: "#/components/responses/EntryInvalid"
        '403': 
          $ref: "#/components/responses/Forbidden"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"

  '/entries/{Key}':
    parameters:
      - schema:
          $ref: "#/components/schemas/Key"
        name: Key
        in: path
        required: true  
    get:
      summary: Consultar Vínculo
      tags:
        - Directory
      description: |-
        Obtém um vínculo contendo os detalhes de conta transacional associados a uma chave de endereçamento.
        

        ### Limitação de requisições
        A política de limitação (_rate-limiting_) funciona com base em cabeçalhos enviados na requisição.

        O parâmetro `PI-PayerId` é o identificador pseudonimizado do usuário final, vinculado a um participante. 
        Requisições vindas de um mesmo usuário, para um mesmo participante, devem usar o mesmo identificador. 
        Como sugestão de implementação, pode ser utilizado o valor hexadecimal da aplicação de 
        [HMAC-SHA-256](https://tools.ietf.org/html/rfc4634#section-7) a um identificador do usuário, 
        com chave de conhecimento restrito ao participante.

      operationId: getEntry
      parameters:
        - schema:
            type: string
            pattern: '^[0-9]{8}'
            example: '12345678'            
          in: header
          name: PI-PayerAccountServicer
          description: 'Identificador SPB do participante onde o pagador possui conta. Usado para _rate-limiting_.'
          required: true
        - schema:
            type: string
            pattern: '[0-9a-z]{64}'
          in: header
          name: PI-PayerId
          description: 'Identificador pseudonimizado do pagador que originou a requisição. Usado para _rate-limiting_.'
          required: true
        - schema:
            type: string
          in: header
          name: PI-EndToEndId
          description: 'Identificador fim-a-fim do pagamento associado a essa requisição. Corresponde ao campo `EndToEndId` na mensagem pacs.008. Usado para _rate-limiting_.'
          required: true
      responses:      
        '200':
          description: OK
          headers:
            PI-RateLimit-ClientRemaining:
              description: Número de requisições disponíveis para que limite associado ao `PI-PayerId` seja atingido.
              schema:
                type: integer
              example: 100
            PI-RateLimit-ClientReset:
              description: Segundos até que limite associado ao `PI-PayerId` seja renovado.
              schema:
                type: integer
              example: 30
            PI-RateLimit-ParticipantRemaining:
              description: Número de requisições disponíveis para que limite associado ao `PI-PayerAccountServicer` seja atingido.
              schema:
                type: integer
              example: 100
            PI-RateLimit-ParticipantReset:
              description: Segundos até que limite associado ao `PI-PayerAccountServicer` seja renovado.
              schema:
                type: integer
              example: 30
          content:
            application/xml:           
              schema:
                $ref: '#/components/schemas/GetEntryResponse'                                
              examples:
                natural-person:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <GetEntryResponse>
                      <Signature></Signature>
                      <Entry>
                        <Key>11122233300</Key>
                        <KeyType>CPF</KeyType>
                        <Account>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </Account>
                        <Owner>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Owner>
                        <CreationDate>2019-11-18</CreationDate>
                        <KeyOwnershipDate>2019-11-18</KeyOwnershipDate>
                      </Entry>
                    </GetEntryResponse>
        '404':
          $ref: "#/components/responses/NotFound"
        '429':
          $ref: "#/components/responses/RateLimited"
    put:
      summary: Atualizar Vínculo
      tags:
        - Directory
      description: |-
        Atualiza um vínculo. 
        
        A ser utilizado no cenário de atualização da informação da conta de um cliente, permanecendo este no mesmo PSP.
        Somente pode ser atualizada a informação de conta do vínculo. Outras atualizações do vínculo devem ser feitas
        por exclusão/inclusão do vínculo, portabilidade ou reivindicação de posse, a depender da situação.
        
      operationId: updateEntry
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateEntryRequest'
            examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <UpdateEntryRequest>
                      <Signature></Signature>
                      <Key>+5561988887777</Key>
                      <Account>
                        <Participant>12345678</Participant>
                        <Branch>00001</Branch>
                        <AccountNumber>0007654321</AccountNumber>
                        <AccountType>CACC</AccountType>
                      </Account>
                      <Reason>USER_REQUESTED</Reason>
                    </UpdateEntryRequest>
      responses:
        '200':
          description: OK
          content:
            application/xml:           
              schema:
                $ref: '#/components/schemas/UpdateEntryResponse'                                
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <UpdateEntryResponse>
                      <Signature></Signature>
                      <Entry>
                        <Key>11122233300</Key>
                        <KeyType>CPF</KeyType>
                        <Account>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </Account>
                        <Owner>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Owner>
                        <CreationDate>2019-11-18</CreationDate>
                        <KeyOwnershipDate>2019-11-18</KeyOwnershipDate>
                      </Entry>
                      <DeletedEntryCid>0d6a90d902cb129a3e08df2d1630dda342f3ab40485e38fe422369e325e69123</DeletedEntryCid>
                      <CreatedEntryCid>9876fd47d485f99f3ef93cfd8e2acd2badfb670b156c1ad6c52ef1586626d20f</CreatedEntryCid>
                    </UpdateEntryResponse>
        '403':
          $ref: "#/components/responses/Forbidden"
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"
  '/entries/{Key}/delete':
    parameters:
      - schema:
          $ref: "#/components/schemas/Key"
        name: Key
        in: path
        required: true  
    post:
      summary: Remover Vínculo
      operationId: deleteEntry
      description: Remove um vínculo de chave com conta.
      tags:
        - Directory
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/DeleteEntryRequest'
            examples:
              example:
                value: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <DeleteEntryRequest>
                    <Signature></Signature>
                    <Key>+5561988887777</Key>
                    <Reason>ACCOUNT_CLOSURE</Reason>
                  </DeleteEntryRequest>
      responses:
        '200':
          description: OK
          content:
            application/xml:           
              schema:
                $ref: '#/components/schemas/DeleteEntryResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <DeleteEntryResponse>
                      <Signature></Signature>
                      <DeletedEntryCid>0d6a90d902cb129a3e08df2d1630dda342f3ab40485e38fe422369e325e69123</DeletedEntryCid>
                    </DeleteEntryResponse>
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"
  '/claims/':
    post:
      summary: Criar Reivindicação
      description: |- 
          Cria uma nova reivindicação. 
          
          Essa operação é feita pelo participante reivindicador a pedido do usuário final.
          O vínculo atual permanece inalterado, até que haja a confirmação pelo PSP doador.

          Nem todo tipo de chave pode ser reivindicado ou portado. A tabela abaixo define as possibilidades:

            |  compatível?  | OWNERSHIP  | PORTABILITY  |
            |---------------|:----------:|:------------:|
            | CPF           |            |      ✓       |
            | CNPJ          |            |      ✓       |
            | PHONE         |    ✓       |      ✓       |
            | EMAIL         |    ✓       |      ✓       |
            | EVP           |            |              |

      operationId: createClaim
      tags:
        - Claim
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateClaimRequest'
            examples:
                phone-claim:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <CreateClaimRequest>
                      <Signature></Signature>
                      <Claim>
                        <Type>OWNERSHIP</Type>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <ClaimerAccount>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </ClaimerAccount>
                        <Claimer>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Claimer>
                      </Claim>
                    </CreateClaimRequest>
      responses:
        '201':
          description: Created
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateClaimResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <CreateClaimResponse>
                      <Signature></Signature>
                      <Claim>
                        <Type>OWNERSHIP</Type>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <ClaimerAccount>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </ClaimerAccount>
                        <Claimer>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Claimer>
                        <DonorParticipant>87654321</DonorParticipant>
                        <Id>123e4567-e89b-12d3-a456-426655440000</Id>
                        <Status>OPEN</Status>
                        <CompletionPeriodEnd>2020-01-17T10:00:00Z</CompletionPeriodEnd>
                        <ResolutionPeriodEnd>2020-01-17T10:00:00Z</ResolutionPeriodEnd>
                        <LastModified>2020-01-10T10:00:00Z</LastModified>
                      </Claim>
                    </CreateClaimResponse>
        '400':
          $ref: "#/components/responses/ClaimInvalid"
        '403': 
          $ref: "#/components/responses/Forbidden"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      parameters:
        - description: ISPB do partipante direto ou indireto interessado
          schema:
            type: string
            pattern: '^[0-9]{8}'
          name: Participant
          in: query
          required: true
        - description: Restringe a reivindicações em que o participante é doador
          schema:
            type: boolean
          name: IsDonor
          in: query
          required: false
        - description: Restringe a reivindicações em que o participante é reivindicador
          schema:
            type: boolean
          name: IsClaimer
          in: query
          required: false
        - description: Status da reivindicação
          schema:
            $ref: "#/components/schemas/ClaimStatus"
          name: Status
          in: query
          required: false
        - description: Tipo de reivindicação
          schema:
            $ref: "#/components/schemas/ClaimType"
          name: Type
          in: query
          required: false
        - description: Filtra reivindicações com data-hora de modificação maior ou igual a `modifiedAfter`
          schema:
            type: string
            format: date-time
          name: ModifiedAfter
          in: query
          required: false
        - description: Filtra reivindicações com data-hora de modificação menor ou igual a `modifiedBefore`
          schema:
            type: string
            format: date-time
          name: ModifiedBefore
          in: query
          required: false
        - description: Número limite de reivindicações a retornar
          schema:
            type: integer
          name: Limit
          in: query
          required: false
      summary: Listar Reivindicações
      description: |- 
          Obtém lista de reivindicações em que o participante é doador ou reivindicador.
          
          Lista de reivindicações é ordenada de forma crescente pelo campo `LastModified` .
      operationId: listClaims
      tags:
        - Claim
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ListClaimsResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <ListClaimsResponse>
                      <Signature></Signature>
                      <Claims>
                        <Claim>
                          <Type>OWNERSHIP</Type>
                          <Key>+5561988887777</Key>
                          <KeyType>PHONE</KeyType>
                          <ClaimerAccount>
                            <Participant>12345678</Participant>
                            <Branch>00001</Branch>
                            <AccountNumber>0007654321</AccountNumber>
                            <AccountType>CACC</AccountType>
                          </ClaimerAccount>
                          <Claimer>
                            <Type>NATURAL_PERSON</Type>
                            <TaxIdNumber>11122233300</TaxIdNumber>
                            <Name>João Silva</Name>
                          </Claimer>
                          <DonorParticipant>87654321</DonorParticipant>
                          <Id>123e4567-e89b-12d3-a456-426655440000</Id>
                          <Status>OPEN</Status>
                          <ResolutionPeriodEnd>2020-01-17T10:00:00Z</ResolutionPeriodEnd>
                          <CompletionPeriodEnd>2020-01-17T10:00:00Z</CompletionPeriodEnd>
                          <LastModified>2020-01-10T10:00:00Z</LastModified>
                        </Claim>
                      </Claims>
                    </ListClaimsResponse>
        '400':
          $ref: "#/components/responses/BadRequest"
        '403': 
          $ref: "#/components/responses/Forbidden"
  '/claims/{ClaimId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: ClaimId
        in: path
        required: true
    get:
      summary: Consultar Reivindicação
      operationId: getClaim
      description: Obtém detalhes de uma reivindicação.
      tags:
        - Claim
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GetClaimResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <GetClaimResponse>
                      <Signature></Signature>
                      <Claim>
                        <Type>OWNERSHIP</Type>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <ClaimerAccount>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </ClaimerAccount>
                        <Claimer>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Claimer>
                        <DonorParticipant>87654321</DonorParticipant>
                        <Id>123e4567-e89b-12d3-a456-426655440000</Id>
                        <Status>OPEN</Status>
                        <ResolutionPeriodEnd>2020-01-17T10:00:00Z</ResolutionPeriodEnd>
                        <CompletionPeriodEnd>2020-01-17T10:00:00Z</CompletionPeriodEnd>
                        <LastModified>2020-01-10T10:00:00Z</LastModified>
                      </Claim>
                    </GetClaimResponse>
        '404':
          $ref: "#/components/responses/NotFound"
  '/claims/{ClaimId}/acknowledge':
    parameters:
      - schema:
          type: string
          format: uuid
        name: ClaimId
        in: path
        required: true
    post:
      summary: Receber Reivindicação
      operationId: acknowledgeClaim
      description: |-
        Notifica recebimento pelo participante doador de reivindicação com status `OPEN`.
      tags:
        - Claim
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/AcknowledgeClaimRequest'
            examples:
              example:
                value: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <AcknowledgeClaimRequest>
                    <Signature></Signature>
                    <ClaimId>123e4567-e89b-12d3-a456-426655440000</ClaimId>
                  </AcknowledgeClaimRequest>
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AcknowledgeClaimResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <AcknowledgeClaimResponse>
                      <Signature></Signature>
                      <Claim>
                        <Type>OWNERSHIP</Type>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <ClaimerAccount>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </ClaimerAccount>
                        <Claimer>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Claimer>
                        <DonorParticipant>87654321</DonorParticipant>
                        <Id>123e4567-e89b-12d3-a456-426655440000</Id>
                        <Status>WAITING_RESOLUTION</Status>
                        <ResolutionPeriodEnd>2020-01-17T10:00:00Z</ResolutionPeriodEnd>
                        <CompletionPeriodEnd>2020-01-17T10:00:00Z</CompletionPeriodEnd>
                        <LastModified>2020-01-10T10:00:00Z</LastModified>
                      </Claim>
                    </AcknowledgeClaimResponse>
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"
  '/claims/{ClaimId}/confirm':
    parameters:
      - schema:
          type: string
          format: uuid
        name: ClaimId
        in: path
        required: true
    post:
      summary: Confirmar Reivindicação
      operationId: confirmClaim
      description: |- 
        Confirma a operação de reivindicação. 
        
        Para reivindicação de posse, status deve ser `WAITING_RESOLUTION` e prazo definido pelo 
         campo `ResolutionPeriodEnd` deve ter passado.

        Para portabilidade, status deve ser `WAITING_RESOLUTION`.

        A tabela abaixo define, a depender da razão e do tipo, quem pode confirmar.

        <table>
          <thead>
            <tr>
              <th></th>
              <th colspan="2">OWNERSHIP</th>
              <th colspan="2">PORTABILITY</th>
            </tr>
            <tr>
              <th>Razão</th>
              <th>Doador</th>
              <th>Reivindicador</th>
              <th>Doador</th>
              <th>Reivindicador</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>USER_REQUESTED</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td></td>
            </tr>
            <tr>
              <td>ACCOUNT_CLOSURE</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td></td>
            </tr>
            <tr>
              <td>DEFAULT_OPERATION</td>
              <td>✓</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      tags:
        - Claim
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/ConfirmClaimRequest'
            examples:
              example:
                value: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <ConfirmClaimRequest>
                    <Signature></Signature>
                    <ClaimId>123e4567-e89b-12d3-a456-426655440000</ClaimId>
                    <Reason>USER_REQUESTED</Reason>
                  </ConfirmClaimRequest>
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ConfirmClaimResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <ConfirmClaimResponse>
                      <Signature></Signature>
                      <Claim>
                        <Type>OWNERSHIP</Type>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <ClaimerAccount>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </ClaimerAccount>
                        <Claimer>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Claimer>
                        <DonorParticipant>87654321</DonorParticipant>
                        <Id>123e4567-e89b-12d3-a456-426655440000</Id>
                        <Status>CONFIRMED</Status>
                        <ResolutionPeriodEnd>2020-01-17T10:00:00Z</ResolutionPeriodEnd>
                        <CompletionPeriodEnd>2020-01-17T10:00:00Z</CompletionPeriodEnd>
                        <LastModified>2020-01-10T10:00:00Z</LastModified>
                      </Claim>
                      <DeletedEntryCid>9876fd47d485f99f3ef93cfd8e2acd2badfb670b156c1ad6c52ef1586626d20f</DeletedEntryCid>
                    </ConfirmClaimResponse>
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"
  '/claims/{ClaimId}/cancel':
    parameters:
      - schema:
          type: string
          format: uuid
        name: ClaimId
        in: path
        required: true
    post:
      summary: Cancelar Reivindicação
      operationId: cancelClaim
      description: |- 
        Cancela reivindicação. 
                
        Para reivindicação de posse, status deve ser `WAITING_RESOLUTION` ou `CONFIRMED`.

        Para portabilidade, status deve ser `WAITING_RESOLUTION`. Se razão de cancelamento for 
        `DEFAULT_OPERATION`, prazo definido pelo campo `ResolutionPeriodEnd` deve ter passado.

        A tabela abaixo define, a depender da razão e do tipo, quem pode cancelar.

        <table>
          <thead>
            <tr>
              <th></th>
              <th colspan="2">OWNERSHIP</th>
              <th colspan="2">PORTABILITY</th>
            </tr>
            <tr>
              <th>Razão</th>
              <th>Doador</th>
              <th>Reivindicador</th>
              <th>Doador</th>
              <th>Reivindicador</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>USER_REQUESTED</td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <td>ACCOUNT_CLOSURE</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td>FRAUD</td>
              <td>✓</td>
              <td>✓</td>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <td>DEFAULT_OPERATION</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td></td>
            </tr>
          </tbody>
        </table>

      tags:
        - Claim
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/CancelClaimRequest'
            examples:
              example:
                value: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <CancelClaimRequest>
                    <Signature></Signature>
                    <ClaimId>123e4567-e89b-12d3-a456-426655440000</ClaimId>
                    <Reason>USER_REQUESTED</Reason>
                  </CancelClaimRequest>
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CancelClaimResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <CancelClaimResponse>
                      <Signature></Signature>
                      <Claim>
                        <Type>OWNERSHIP</Type>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <ClaimerAccount>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </ClaimerAccount>
                        <Claimer>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Claimer>
                        <DonorParticipant>87654321</DonorParticipant>
                        <Id>123e4567-e89b-12d3-a456-426655440000</Id>
                        <Status>CANCELLED</Status>
                        <ResolutionPeriodEnd>2020-01-17T10:00:00Z</ResolutionPeriodEnd>
                        <CompletionPeriodEnd>2020-01-17T10:00:00Z</CompletionPeriodEnd>
                        <LastModified>2020-01-10T10:00:00Z</LastModified>
                      </Claim>
                    </CancelClaimResponse>
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"
  '/claims/{ClaimId}/complete':
    parameters:
      - schema:
          type: string
          format: uuid
        name: ClaimId
        in: path
        required: true
    post:
      summary: Concluir Reivindicação
      operationId: completeClaim
      description: |- 
        Conclui reivindicação pelo reivindicador.
        
        Para reivindicação de posse, status deve ser `CONFIRMED` e prazo definido pelo campo `CompletionPeriodEnd`
        deve ter passado.
        
        Para portabilidade, status deve ser `CONFIRMED`.

      tags:
        - Claim
      requestBody:
        content: 
          application/xml:
            schema:
              $ref: '#/components/schemas/CompleteClaimRequest'
            examples:
              example:
                value: |-
                  <?xml version="1.0" encoding="UTF-8"?>
                  <CompleteClaimRequest>
                    <Signature></Signature>
                    <ClaimId>123e4567-e89b-12d3-a456-426655440000</ClaimId>
                  </CompleteClaimRequest>
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CompleteClaimResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <CompleteClaimResponse>
                      <Signature></Signature>
                      <Claim>
                        <Type>OWNERSHIP</Type>
                        <Key>+5561988887777</Key>
                        <KeyType>PHONE</KeyType>
                        <ClaimerAccount>
                          <Participant>12345678</Participant>
                          <Branch>00001</Branch>
                          <AccountNumber>0007654321</AccountNumber>
                          <AccountType>CACC</AccountType>
                        </ClaimerAccount>
                        <Claimer>
                          <Type>NATURAL_PERSON</Type>
                          <TaxIdNumber>11122233300</TaxIdNumber>
                          <Name>João Silva</Name>
                        </Claimer>
                        <DonorParticipant>87654321</DonorParticipant>
                        <Id>123e4567-e89b-12d3-a456-426655440000</Id>
                        <Status>COMPLETED</Status>
                        <ResolutionPeriodEnd>2020-01-17T10:00:00Z</ResolutionPeriodEnd>
                        <CompletionPeriodEnd>2020-01-17T10:00:00Z</CompletionPeriodEnd>
                        <LastModified>2020-01-10T10:00:00Z</LastModified>
                      </Claim>
                      <CreatedEntryCid>9876fd47d485f99f3ef93cfd8e2acd2badfb670b156c1ad6c52ef1586626d20f</CreatedEntryCid>
                    </CompleteClaimResponse>
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '503':
          $ref: "#/components/responses/ServiceUnavailable"
components:
  schemas:
    AccountType:
      enum:
      - CACC
      - SLRY
      - SVGS
      description: Tipo de conta, conforme dicionário de domínio para a mensagem pacs.008 do SPI.
      example: CACC
      pattern: '[A-Z]{4}'
    BrazilianAccount:
      type: object
      description: Dados de conta transacional no Brasil.
      properties:
        Participant:
          allOf:
           - $ref: '#/components/schemas/ISPB'
           - description: "Identificador SPB do provedor da conta"
        Branch:
          type: string
          description: Agência, sem dígito verificador.
          pattern: '^[0-9]{4}'
          example: '00001'
        AccountNumber:
          type: string
          description: 'Número de conta, incluindo verificador. Se verificador for letra, substituir por 0.'
          pattern: '[0-9]{4,10}'
          example: '0007654321'
        AccountType:
          $ref: '#/components/schemas/AccountType'
      required:
        - Participant
        - AccountNumber
        - AccountType
    Key:
      type: string
      description: Chave de endereçamento 
      maxLength: 77
      example: '12345678901'      
    KeyType:
      type: string
      description: Tipo de chave. _Novos tipos podem surgir_.
      enum:
        - CPF
        - CNPJ
        - PHONE
        - EMAIL
        - EVP
      example: CPF
    NaturalPerson:
      type: object
      properties:
        Type:
          type: string          
          default: NATURAL_PERSON
        TaxIdNumber:
          type: string 
          description: CPF - Cadastro de Pessoa Física
          pattern: '[0-9]{11}'
          example: '11122233300'
        Name:
          type: string 
          description: Nome completo
          example: João Silva
          maxLength: 100
      required:
        - Type      
        - TaxIdNumber
        - Name
    LegalPerson:
      type: object    
      properties:
        Type:
          type: string 
          default: LEGAL_PERSON
        TaxIdNumber:
          type: string 
          description: CNPJ - Cadastro Nacional de Pessoa Jurídica
          example: '11222333000150'
          pattern: '[0-9]{14}'
        Name:
          type: string 
          description: Razão social
          maxLength: 100
          example: Padaria Tres Irmãos Ltda
        TradeName:
          type: string 
          description: Nome fantasia
          maxLength: 100
          example: Padaria 3 Irmãos
      required:
        - Type
        - TaxIdNumber
        - Name
    ISPB:
      type: string
      pattern: '^[0-9]{8}'
      example: '12345678'
    Entry:
      type: object
      description: Vínculo entre uma chave de endereçamento, conta transacional e seu dono.
      properties:
        Key:
          $ref: '#/components/schemas/Key'
        KeyType:
          $ref: '#/components/schemas/KeyType'
        Account:
          $ref: '#/components/schemas/BrazilianAccount'
        Owner:
          oneOf:
            - $ref: '#/components/schemas/NaturalPerson'
            - $ref: '#/components/schemas/LegalPerson'
          discriminator:
              propertyName: Type
              mapping:
                NATURAL_PERSON: '#/components/schemas/NaturalPerson'
                LEGAL_PERSON: '#/components/schemas/LegalPerson'
      required:
        - KeyType
        - Account
        - Owner
    ExtendedEntry:
      allOf:
        - $ref: '#/components/schemas/Entry'
        - type: object
          xml:
            name: Entry
          properties:
            CreationDate:
              type: string
              format: date
              description: Data de criação do vínculo.
            KeyOwnershipDate:
              type: string
              format: date
              description: |- 
                Data a partir da qual o dono tem posse ininterrupta da chave de endereçamento. 
                Posse da chave aqui é definida pela existência de um vínculo associando a chave ao dono, 
                possivelmente com contas distintas.
          required:
            - Key
            - CreationDate
            - KeyOwnershipDate
    EntryOperationReason:
      type: string
      enum:
        - USER_REQUESTED
        - ACCOUNT_CLOSURE
        - BRANCH_TRANSFER
        - ENTRY_INACTIVITY
    ClaimStatus:
      type: string
      enum:
        - OPEN
        - WAITING_RESOLUTION
        - CONFIRMED
        - CANCELLED
        - COMPLETED
    ClaimType:
      type: string
      enum:
        - OWNERSHIP
        - PORTABILITY
      description: Tipo de reivindicação
    ClaimOperationReason:
      type: string
      enum:
        - USER_REQUESTED
        - ACCOUNT_CLOSURE
        - FRAUD
        - DEFAULT_OPERATION
      description: Razão da operação
    Claim:
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/ClaimType'
        Key:
          $ref: '#/components/schemas/Key'
        KeyType:
          allOf:
            - $ref: '#/components/schemas/KeyType'
            - description: Tipo de chave. CPF e CNPJ são inválidos, não podem ter posse reivindicada.
        ClaimerAccount:
          $ref: '#/components/schemas/BrazilianAccount'
        Claimer:
          oneOf:
            - $ref: '#/components/schemas/NaturalPerson'
            - $ref: '#/components/schemas/LegalPerson'
          discriminator:
              propertyName: Type
              mapping:
                NATURAL_PERSON: '#/components/schemas/NaturalPerson'
                LEGAL_PERSON: '#/components/schemas/LegalPerson'
      required:
        - Key
        - KeyType
        - ClaimerAccount
        - Claimer
        - Type
    ExtendedClaim:
      allOf:
        - $ref: '#/components/schemas/Claim'
        - type: object
          xml:
            name: Claim
          properties:
            DonorParticipant:
              allOf:
                - $ref: '#/components/schemas/ISPB'
                - description: Identificador SPB do participante que doa a chave reinvidicada
            Id:
              type: string
              format: uuid
            Status:
              $ref: '#/components/schemas/ClaimStatus'
            ResolutionPeriodEnd:
              type: string
              format: date-time
              description: Data-hora quando termina o período de resolução.
            CompletionPeriodEnd:
              type: string
              format: date-time
              description: Data-hora quando termina o período de encerramento.
            LastModified:
              type: string
              format: date-time
              description: Data-hora da última modificação do status da reivindicação
          required:
            - Donor
            - Id
            - Status
            - ResolutionPeriodEnd
            - CompletionPeriodEnd
            - LastModified
    Cid:
      type: string
      pattern: '[0-9a-z]{64}'
      description: Identificador de conteúdo.
    CreateClaimRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claim:
          $ref: '#/components/schemas/Claim'
      required:
        - Claim
    CreateClaimResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claim:
          $ref: '#/components/schemas/ExtendedClaim'
      required:
        - Claim
    AcknowledgeClaimRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        ClaimId:
          type: string
          format: uuid
      required:
        - ClaimId
    AcknowledgeClaimResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claim:
          $ref: '#/components/schemas/ExtendedClaim'
      required:
        - Claim
    ConfirmClaimRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        ClaimId:
          type: string
          format: uuid
      required:
        - ClaimId
    ConfirmClaimResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claim:
          $ref: '#/components/schemas/ExtendedClaim'
        DeletedEntryCid:
          $ref: '#/components/schemas/Cid'
      required:
        - Claim
        - DeletedEntryCid
    CancelClaimRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        ClaimId:
          type: string
          format: uuid
        Reason:
          $ref: '#/components/schemas/ClaimOperationReason'
      required:
        - ClaimId
        - Reason
    CancelClaimResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claim:
          $ref: '#/components/schemas/ExtendedClaim'
      required:
        - Claim
    CompleteClaimRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        ClaimId:
          type: string
          format: uuid
        Reason:
          $ref: '#/components/schemas/ClaimOperationReason'
      required:
        - ClaimId
        - Reason
    CompleteClaimResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claim:
          $ref: '#/components/schemas/ExtendedClaim'
        CreatedEntryCid:
          $ref: '#/components/schemas/Cid'
      required:
        - Claim
        - CreatedEntryCid
    GetClaimResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claim:
          $ref: '#/components/schemas/ExtendedClaim'
      required:
        - Claim
    ListClaimsResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Claims:
          type: array
          items:
            $ref: '#/components/schemas/ExtendedClaim'
    CreateEntryRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Entry:
          $ref: '#/components/schemas/Entry'
        Reason:
          allOf:
           - $ref: '#/components/schemas/EntryOperationReason'
           - description: "Valores válidos: `USER_REQUESTED`"
      required:
        - Entry
        - Reason
    UpdateEntryRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Key:
          $ref: "#/components/schemas/Key"
        Account:
          $ref: '#/components/schemas/BrazilianAccount'
        Reason:
          allOf:
           - $ref: '#/components/schemas/EntryOperationReason'
           - description: "Valores válidos: `USER_REQUESTED` e `BRANCH_TRANSFER`"
      required:
        - Key
        - Account
        - Reason
    UpdateEntryResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Entry:
          $ref: '#/components/schemas/ExtendedEntry'
        DeletedEntryCid:
          $ref: '#/components/schemas/Cid'
        CreatedEntryCid:
          $ref: '#/components/schemas/Cid'
      required:
        - Entry
        - DeletedEntryCid
        - CreatedEntryCid
    CreateEntryResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Entry:
          $ref: '#/components/schemas/ExtendedEntry'
        CreatedEntryCid:
          $ref: '#/components/schemas/Cid'
      required:
        - Entry
        - CreatedEntryCid
    DeleteEntryRequest:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Key:
          $ref: "#/components/schemas/Key"
        Reason:
          allOf:
           - $ref: '#/components/schemas/EntryOperationReason'
           - description: "Valores válidos: `USER_REQUESTED`, `ACCOUNT_CLOSURE` e `ENTRY_INACTIVITY`"
      required:
        - Key
        - Reason
    DeleteEntryResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        DeletedEntryCid:
          $ref: '#/components/schemas/Cid'
      required:
        - DeletedEntryCid
    GetEntryResponse:
      type: object
      properties:
        Signature:
          type: object
          xml:
            prefix: ds
            namespace: 'http://www.w3.org/2000/09/xmldsig#'
        Entry:
          $ref: '#/components/schemas/ExtendedEntry'
      required:
        - Entry
    Problem:
      type: object
      xml:
        name: 'problem'
        namespace: 'urn:ietf:rfc:7807'
      properties:
        type:
          type: string
          format: uri
          example: 'https://dict.pi.rsfn.net.br/api/v1/error/NotFound'
        title:
          type: string
          example: 'Not found'
        status:
          type: integer
          example: 404
        detail:
          type: string
        violations:
          type: array
          items:
            $ref: '#/components/schemas/Violation'
      required:
        - type
        - title
        - status
    Violation:
      type: object
      xml:
        name: violation
      properties:
        reason:
          type: string
        value:
          type: string
        property:
          type: string
      required:
        - reason
  responses:
    NotFound:
      description: Not found
      content:
        application/problem+xml:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <problem xmlns="urn:ietf:rfc:7807">
                  <type>https://dict.pi.rsfn.net.br/api/v1/error/NotFound</type>
                  <title>Not found</title>
                  <status>404</status>
                  <detail>Entry associated with given key does not exist</detail>
                </problem> 
    Forbidden:
      description: Forbidden
      content:
        application/problem+xml:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <problem xmlns="urn:ietf:rfc:7807">
                  <type>https://dict.pi.rsfn.net.br/api/v1/error/Forbidden</type>
                  <title>Forbidden</title>
                  <status>403</status>
                  <detail>Participant is not allowed to access this resource</detail>
                </problem>
    RateLimited:
      description: Rate-Limited
      content:
        application/problem+xml:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <problem xmlns="urn:ietf:rfc:7807">
                  <type>https://dict.pi.rsfn.net.br/api/v1/error/RateLimited</type>
                  <title>Rate limited</title>
                  <status>429</status>
                </problem>
    ServiceUnavailable:
      description: Service Unavailable
      headers:
        Retry-After:
          schema:
            type: integer
          description: Tempo de espera em segundos sugerido para nova requisição. Ver [rfc7231#section-7.1.3](https://tools.ietf.org/html/rfc7231#section-7.1.3)
      content:
        application/problem+xml:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <problem xmlns="urn:ietf:rfc:7807">
                  <type>https://dict.pi.rsfn.net.br/api/v1/error/ServiceUnavailable</type>
                  <title>Service Unavailable</title>
                  <status>503</status>
                  <detail>Service is under scheduled maintenance</detail>
                </problem>
    ClaimInvalid:
      description: Claim Invalid
      content:
        application/problem+xml:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <problem xmlns="urn:ietf:rfc:7807">
                    <type>https://dict.pi.rsfn.net.br/api/v1/error/ClaimInvalid</type>
                    <title>Claim is invalid</title>
                    <status>400</status>
                    <detail>Claim has invalid fields</detail>
                    <violations>
                        <violation>
                            <reason>Value does not match regex '^\+[1-9]\d{1,14}$'</reason>
                            <value>61988887777</value>
                            <property>claim.key</property>
                        </violation>
                    </violations>                    
                </problem>
    EntryInvalid:
      description: Entry Invalid
      content:
        application/problem+xml:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <problem xmlns="urn:ietf:rfc:7807">
                    <type>https://dict.pi.rsfn.net.br/api/v1/error/EntryInvalid</type>
                    <title>Entry is invalid</title>
                    <status>400</status>
                    <detail>Entry has invalid fields</detail>
                    <violations>
                        <violation>
                            <reason>Value does not match regex '^\+[1-9]\d{1,14}$'</reason>
                            <value>61988887777</value>
                            <property>entry.key</property>
                        </violation>
                    </violations>                    
                </problem>
    BadRequest:
      description: Bad Request
      content:
        application/problem+xml:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <problem xmlns="urn:ietf:rfc:7807">
                    <type>https://dict.pi.rsfn.net.br/api/v1/error/BadRequest</type>
                    <title>Bad Request</title>
                    <status>400</status>
                    <detail>Could not parse request body</detail>
                </problem>
